*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.btn-primary{
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding: 10px 25px;
  border: 0;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
  margin-top: 20px;
}
.btn{
  border-radius: 48px;
  background: #4EC5F7;
  padding: 10px 25px;
  border: 0;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
main{
  /* width: 90%;
  margin: 50px auto 50px; */
}
/* nav section styles here  */

nav{
  background-color: #fff;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
  margin: 0 auto;
}

.logo-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-container img{
  margin-right: 20px;
  align-items: center;
  width: 86px;
  object-fit: cover;
}
.logo-description{
  color: #0B0223;
  font-size: 2.80rem;
  font-weight: 700;
}
.logo-text-color{
  background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.nav-items-container{
  display: flex;
  align-items: center;
}
.nav-items-container a{
  text-decoration: none;
  color: #3C354F;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 20px;
  align-items: center;
}
.fa-brands{
  font-size: 1.25rem;
  margin-right: 10px;
}
.nav-items-container .follow-btn{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 10px 20px;
  align-items: center;
}
/* finished nav ber section area */
/* start banner section area */
.banner{
  background-color: #F9F6EE;
}
.banner-container{
  width: 90%;
  margin: 0 auto 0;
  display: flex;
  
}
.banner-content{
  width: 50%;
  padding-top: 130px;
  
}
.banner-heading{
  color: #0B0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title{
  background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-description{
  color: #534C64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-img{
  width: 50%;
}
.banner-img img{
  width: 100%;
  height: auto;
}
/* finish banner area */

/* card styles design */
.online-games-container{
  width: 90%;
  margin: 50px auto 50px;
}
.online-title{
  color: #0B0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.online-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  color: transparent;
  -webkit-background-clip: text;
  
}
.online-description{
  color: #534C64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.card{
  border-radius: 16px;
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
}
.card img{
  width: 100%;
}
/* finish online games area */
/* play games style design */
.play-games{
  background-color: #F9F6EE;
}
.paly-games-container{
  width: 90%;
  margin: 50px auto 50px;
  display: flex;
  align-items: center;
}
.play-games-info{
  width: 50%;
  text-align: right;
}
.play-games-title{
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
}
.play-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.play-games-description{
  color: #534C64;
  font-size: 1rem;
  font-weight: 400;
}
.play-games-img{
  width: 50%;
  text-align: center;
  border-radius: 8px;
  position: relative;
  padding: 30px 30px ;
}
.play-games-img img{
  width: 70%;
}
.relative-img{
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 52%;
  left: 0%;
  right: 60%;
  /* bottom: 0%;  */
  /* margin-bottom: -1%; */
}
.relative-img img{
  width: 100%;
}
/* finish play games area */
/* img section area */
.img{

}
.img-container{
  width: 90%;
  margin: 150px auto 50px;
  
}
.img-cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px 20px;
}
.img-card{
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 3s ease-in-out;
}
.img-card img{
  width:10% ;
}
.img-card p{
  color: #0B0223;
  font-size: 1rem;
  font-weight: 600;
}
.img-card:hover{
  border-radius: 30px;
  border: 2px solid #F948B2;
  background-color:  lightgray ;
  border-radius: 50px;

}
/* finish img section area */
/* footer section area */
footer{
  height: 70vh;
  background: #0B0223;
  text-align: center;
  padding-top: 100px;
}
.logo-box{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-box .logo-description{
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
}
.footer-info{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-info p{
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.fa-brands{
  font-size: 2.5rem;
  margin-right: 20px;
  margin-bottom: 20px;
}
.policy{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.policy p{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}
footer p{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
/* finish footer section area */

/* responsive design */
/* smail-device */
@media screen and (max-width:425px) {
  .nav-container{
    flex-direction: column;
    width: 100%;
  }
  .nav-items-container{
    flex-direction: column;
    align-items: center;
  }
  .nav-items-container a{
    margin-top: 20px;
  }
  .banner{
    background-color: #fff;
  }
  .banner-container{
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-content{
    width: 100%;
    background-color: #F9F6EE;
    text-align: center;
  }
  .banner-img{
    width: 100%;
    background-color: #FFF;
    align-items: center;
  }
  .cards{
    display: grid;
    grid-template-columns:1fr;
  }
  .online-title{
    color: #0B0223;
    text-align: center;
    font-size: 1.5rem;
  }
  .online-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    
  }
  .online-description{
    color: #534C64;
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .card p{
    font-size: 0.85rem;
    text-align: center;
    padding: 10px;
    font-weight: 400;
  }
  .paly-games-container{
    flex-direction: column;
  }
  .play-games-info{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .play-games-title{
    font-size: 1.5rem;
  }
  .play-games-description{
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .play-games-img{
    width: 100%;
  }
  .img-container{
    width: 100%; 
    text-align: center;
  }
  .img-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .img-card p{
    font-size: 0.50rem;
  }
  footer{
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .footer-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .social-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .policy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer p{
    font-size: 2rem;
  }
}
/* tablet device */
@media screen and (min-width:426px) and (max-width:768px) {
  .nav-container{
    flex-direction: column;
  }
  .nav-items-container{
    flex-direction: column;
    align-items: center;
  }
  .nav-items-container a{
    margin-top: 20px;
  }
  .banner{
    background-color: #fff;
  }
  .banner-container{
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-content{
    width: 100%;
    background-color: #F9F6EE;
    text-align: center;
  }
  .banner-img{
    width: 100%;
    background-color: #FFF;
    align-items: center;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .card p{
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    font-weight: 400;
  }
  .play-games-title{
    font-size: 2rem;
    
  }
  .play-games-description{
    font-size: 1rem;
  }
  .play-games-info{
    text-align: left;
  }
  .play-games-img{
    text-align: center;
  }
  .img-container{
    width: 100%; 
    text-align: center;
  }
  .img-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .img-card p{
    font-size: 1rem;
  }
  footer{
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .footer-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .policy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer p{
    font-size: 1rem;
  }
}











